.wrap {
  /* padding: 32px; */
  background-color: #fff;
  min-height: 100vh;
  font-family: Inter, sans-serif;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.pageTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.addButton {
  padding: 10px 16px;
  background-color: #0782b2;
  color: #fff;
  border: none;
  
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.addButton:hover {
  background-color: #5b21b6;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  width: 600px;
  background: #fff;
  
  padding: 24px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
